extends ../dashboard

block content_box
    div(class="uk-padding")
        h3(class="uk-text-upper uk-margin-medium-top uk-text-bold") Lista de Normas
         - if (messages.info)
                    div(uk-toggle=".my-class" class="uk-alert-success" uk-alert)
                        a(class="uk-alert-close" uk-close)
                        p(class="uk-text-default") #{messages.info}
        table#generic-table.uk-table.uk-table-hover.uk-table-striped
            thead
                th.uk-width-small.uk-text-left.uk-text-uppercase.uk-text-bold Norma
                th.uk-text-left.uk-text-uppercase Descricao
                th.uk-text-left.uk-text-uppercase Categoria
                th.uk-text-left.uk-text-uppercase ACÇÃO
            tbody 
                each document in documents
                    tr 
                        td #{document.name} #{document.code} 
                        td.uk-text-truncate #{document.description}
                        td.uk-text-truncate #{document.type}
                        
                        td.uk-text-nowrap.uk-width-1-4  
                            p(uk-margin='')
                                a.uk-button.uk-text-capitalize.uk-button-small.uk-margin-small-right(href='/documentos/'+document.code+'/privatePdf?name='+document.name+'&type='+document.type)
                                    span(href='#' uk-icon="icon: file-pdf; ratio: 1.2 ")
                                a.uk-button.uk-text-capitalize.uk-button-small.uk-margin-small-right(href='/documentos/edit/'+document.id) 
                                    span(href='#' uk-icon='icon: file-text; ratio: 1.2')
                else
                    p